html 
{
  position: relative;
  min-height: 100%;
}


body 
{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	margin-bottom: 80px; /* Margin bottom by footer height */
}


input[type=file] 
{
  width: 300px;
  padding: 12px 12px;
  //margin: 4px 0;
  display: inline-block;
  //border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}